.dashboard-layout {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}

.dashboard-page {
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 3rem;
}

/* media queries */
@media screen and (max-width: 1024px) {
  .dashboard-page {
    margin: 2rem;
    gap: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .dashboard-page {
    margin: 2rem;
  }
}

@media screen and (max-width: 425px) {
  .dashboard-layout {
    padding: 1rem;
    /* border: 1px solid green; */
  }
  .dashboard-page {
    /* border: 1px solid red; */
    flex-wrap: wrap;
    margin: 0;
    gap: 2rem;
  }
}
