.weather-dashboard {
  /* border: 1px solid red; */
  width: 63%;
  /* text-align: center; */
}

.weather-content {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}

.weather-content--left {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: flex-start;
  /* border: 1px solid; */
  justify-content: space-between;
}

.weather-city {
  font-size: 2.5rem;
  letter-spacing: 1px;
  color: var(--color-text3);
}

.weather-desc {
  color: var(--color-text3);
  display: flex;
}
.weather-temp {
  font-size: var(--font-4);
  margin: 0;
  font-weight: 700;
  color: var(--color-text3);
}
.weather-div {
  display: flex;
  align-items: center;
}
.current-weather-icon {
  height: 200px;
  width: 200px;
}

.child-card-div {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: var(--color-secondary);
  color: var(--color-text3);
}
.child-card--title {
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: start;
  color: var(--color-gray);
  font-weight: 400;
  font-size: 16px;
}

.child-temp-data {
  display: flex;
}

/* air */
.air-div {
  display: flex;
  flex-direction: column;
}
.air-div-row {
  display: flex;
  padding: 20px 0;
}

.air-icon {
  font-size: 30px;
  color: #9399a2;
}

/* media */
@media (max-width: 425px) {
  .weather-dashboard {
    width: 100%;
  }
  .weather-content {
    padding: 2rem;
  }
  .weather-temp {
    font-size: var(--font-3);
  }
  .weather-city {
    font-size: 2rem;
  }
  .current-weather-icon {
    height: 120px;
    width: 100px;
  }
  .child-card--title {
    font-size: 12px;
  }
  .air-icon {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .weather-dashboard {
    width: 58%;
  }
  .child-card-div {
    padding: 1rem 1.4rem;
  }
  .weather-temp {
    font-size: var(--font-3);
  }
  .weather-city {
    font-size: 1.8rem;
  }
  .weather-desc {
    font-size: 14px;
  }
  .current-weather-icon {
    height: 150px;
    width: 150px;
  }
}
