.air-component {
  display: flex;
  width: 50%;
  gap: 1rem;
}

.air-component--content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.air-title {
  font-size: 16px;
  color: var(--color-gray);
  font-weight: 300;
}

.air-value {
  font-size: 24px;
  font-weight: 600;
}

/* media queries */
@media screen and (max-width: 768px) {
  .air-title {
    font-size: 14px;
  }
  .air-value {
    font-size: 20px;
  }
}

@media only screen and (max-width: 425px) {
  .air-title {
    font-size: 14px;
  }
  .air-value {
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  .air-title {
    font-size: 12px;
  }
  .air-value {
    font-size: 18px;
  }
}
